/*general styles- start*/

* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
    color: #291f1a;
    font-weight: 300;
}
h1,h2,h3,h4,h5 {
    text-align: center;
}

span {
    color: #1ac056;
    font-weight: normal;
}

/*general styles- end*/

/*navigation- start*/

#main-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
}

#main-nav ul {
    float: right;
}

#main-nav ul .menu-item {
    display: inline-block;
    padding: 20px 40px;
}

#main-nav ul .menu-item a {
    text-decoration: none;
    color: #1ac056;
}

#main-nav ul .menu-item a:hover {
    color: #291f1a;
}

/*navigation- end*/

/*header-start*/

#main-header {
    background-image: url("../img/header-background.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover
}

#main-header .header-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main-header .header-content h1 {
    font-family: "Roboto", sans-serif;
    font-size: 4em;
    color: #fff;
    font-weight: 300;
}

#main-header .header-content h2 {
    font-size: 2em;
    font-weight: 200;
    color: #fff;
}

/*header- end*/

/*section about-me start*/

#about-me {
    overflow: hidden;
}
#about-me figure {
    width: 50%;
    float: left;
    text-align: center;
}
#img1 {
    max-width: 40%;
    border: 4px solid #fff;
}

#about-me article p {
    text-align: left;
    width: 40%;
    overflow: hidden;
    line-height: 25px;
}

/*section about-me end*/
/*section skills start*/

#skills > p {
    text-align: center;
}
#skills .skills-icons {
    text-align: center;
}
#skills .skills-icons figure {
    display: inline-block;
}


/*section skills end*/
/*section my-portfolio start*/
.my-portfolio {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.box {
    display: inline-block;
    position: relative;
    width: 33%;
    height: 300px;
}
#box1 {
    background-image: url(../img/portfolio1.jpg);
    background-repeat: no-repeat;
    vertical-align: top;
}
#box2 {
    background-image: url(../img/portfolio2.jpg);
    background-repeat: no-repeat;
    vertical-align: top;
}
#box3 {
    background-image: url(../img/portfolio4.jpg);
    background-repeat: no-repeat;
    vertical-align: top;
}
.mask {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.box:hover .mask {
    width: 100%;
    height: 100%;
    background-color: rgba(81, 112, 163, 0.5);
}

.box:hover .mask .mask-inside {
    width: 90%;
    height: 90%;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: inherit;
    color: white;

}
.mask-inside {
    display: none;
}
/*section my-portfolio end*/
/*section contact start*/
.contact {
    color: white;
}
.big-box {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 300px;
    margin-top: 30px;
    background-color: darkblue;
}
.address {
    width: 45%;
    position: absolute;
}
form {
    width: 45%;
    position: absolute;
    right: 0;
    top: 30px;
}
input[type="text"], [type="email"] {
    margin-bottom: 15px;
    background-color: skyblue;
    opacity: 0.6;
    width: 80%;
}
textarea {
    background-color: skyblue;
    opacity: 0.6;
    width: 80%;
}
input[type="submit"] {
    background-color: greenyellow;
    border: 1px solid white;
    font-size: 1em;
    padding: 10px 15px;
    
}
address h6 {
    font-size: 2em;
    height: 10px;
    margin-top: 0;
}
.icons {
    word-spacing: 15px;
}    
.icons a {
    text-decoration: none;
    color: white;
    font-size: 3em;
    }
/*section contact end*/
/*footer start*/
footer p {
    margin: 0;
    padding: 0;
    background-color: darkslateblue;
    color: white;
}
/*footer end*/

